.buttonRed {
   border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #df1212;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonGreen {
   border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #12df23;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonDetalle {
   border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #33a6b5;
  cursor: pointer;
  transition: border-color 0.25s;
}